.ui.celled.grid > .white.row {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3px;
}

.ui[class*="internally celled"].grid {
  padding:2em;
}

.rounded.row {
  border-radius: 17px;
}

.ui.celled.grid > .spaced.row {
  margin-bottom: 10px;
}

.ui.celled.grid > .active.row {
  background-color: #00B0F0;
  margin-bottom: 3px;
}

#scrollfeature {
  height: 64px;
  word-wrap: break-word;
  overflow: scroll;
}